@tailwind base;
@tailwind components;
@tailwind utilities;

.features_img{
    background-image: url('./assets/home/featured.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.hero_img{
    background-image: url('./assets/home/chef-service.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*  */
.menuCoverImg{
    background-image: url('./assets/menu/banner3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}
.menuCoverImg1{
    background-image: url('./assets/shop/banner2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}